<div class="content">
  <h1>СМАРТ МАРКИРОВКА<br>ДЛЯ ЗАЩИТЫ ПРОДУКЦИИ</h1>
  <h2>Выберете метод защиты:</h2>
  <div class="methods">
    <div class="btn"><a [routerLink]="['/methone']"><h2>1</h2></a><div class="hoverp1"><div class="hoverp1__ins">?<div class="hoverp1__ins__abs"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos voluptatem officia aliquam at aut, id accusantium modi. Nam, culpa!</p></div></div></div></div>
    <div class="btn"><a [routerLink]="['/methtwo']"><h2>2</h2></a><div class="hoverp1"><div class="hoverp1__ins">?<div class="hoverp1__ins__abs"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos voluptatem officia aliquam at aut, id accusantium modi. Nam, culpa!</p></div></div></div></div>
    <div class="btn"><a [routerLink]="['/meththree']"><h2>3</h2></a><div class="hoverp1"><div class="hoverp1__ins">?<div class="hoverp1__ins__abs"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos voluptatem officia aliquam at aut, id accusantium modi. Nam, culpa!</p></div></div></div></div>
    <div class="btn"><a [routerLink]="['/methfour']"><h2>4</h2></a><div class="hoverp1"><div class="hoverp1__ins">?<div class="hoverp1__ins__abs"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos voluptatem officia aliquam at aut, id accusantium modi. Nam, culpa!</p></div></div></div></div>
    <div class="btn"><a [routerLink]="['/methfive']"><h2>5</h2></a><div class="hoverp1"><div class="hoverp1__ins">?<div class="hoverp1__ins__abs"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos voluptatem officia aliquam at aut, id accusantium modi. Nam, culpa!</p></div></div></div></div>
  </div>
</div>
